.container {
  display: flex;
  flex-direction: column;
  padding: 2rem 0 0 1rem;
  background: var(--color-bg);
  color: white;
}

.container-card {
  display: flex;
  flex-direction: row;
  padding: 0 0 0 1rem;
}

.container-card_header {
  display: flex;
  flex-direction: column;
  width: 13rem;
  padding-right: 2rem;
}

.container-content {
  display: flex;
  flex-direction: column;
}

.container-card_content {
  display: flex;
}

.container-card_content-item {
  display: flex;
}

.container-htmlcss {
  background: yellow;
}

.container-reactnext {
  background: yellow;
}
