.container {
  display: flex;
  flex-direction: column;
}

.container-card {
  display: flex;
  flex-direction: row;
}

.container-content {
  display: flex;
  flex-direction: column;
}

.container-card_content {
  display: flex;
}

.container-card_content-item {
  display: flex;
}

.container-htmlcss {
  background: yellow;
}

.container-reactnext {
  background: yellow;
}
