.container {
  display: flex;
  flex-direction: column;
  padding: 2rem 0 0 1rem;
  background: var(--color-bg);
  color: white;
}

.container-card {
  display: flex;
  flex-direction: row;
  padding: 0 0 0 1rem;
}

.container-card_header {
  display: flex;
  flex-direction: column;
  width: 13rem;
  padding-right: 2rem;
  border: 2px solid var(--color-text-light);
  border-radius: 16px;
  padding: 1rem;
  margin-bottom: 5rem;
  justify-content: space-between;
}

.container-card_header p {
  color: var(--color-text);
}

.container-content {
  display: flex;
  flex-direction: column;
}

.container-card_content {
  display: flex;
}

.container-card_content-item {
  display: flex;
}

.container-htmlcss {
  background: yellow;
}

.container-reactnext {
  background: yellow;
}
