.dropdown {
  position: absolute;
  top: 58px;
  width: 300px;
  transform: translateX(-45%);
  background: var(--bg);
  border-radius: var(--border-radius);
  border: var(--border);
  padding: 1rem;
  overflow: hidden;
}

.drop-item {
  display: flex;
  align-items: center;
  height: 50px;
  border-radius: var(--border-radius);
  transition: background var(--speed);
  padding: 0.5rem;
}

.drop-item:hover {
  background: #525357;
}

.drop-right {
  margin-left: auto;
}
