html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.py-6 {
  padding: 0 6px;
}

.px-6 {
  padding: 6px 0;
}

.mx-6 {
  margin: 6px 0;
}

.my-6 {
  margin: 0 6px;
}

.divider {
  border-bottom: 2px solid var(--color-blog);
  width: 50%;
  padding-top: 1rem;
}
