.header-container {
  background: var(--color-footer);
  color: var(--color-text-light);
}

.header-logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 2rem;
}

.header-logo h3 {
  margin-right: 1rem;
}
