.htmlcss-container {
  background: yellow;
}
.htmlcss-header {
  background: red;
}

.htmlcss-content {
  background: blue;
}

.htmlcss-content_header {
  background: blueviolet;
}

.htmlcss-content_desc {
  background: burlywood;
}

.htmlcss-content_tech {
  background: chartreuse;
}
