.projects-container {
  background: var(--color-bg);
}

.projects-container h2 {
  background: var(--gradient-text);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.projects-live {
  background: var(--color-red);
  color: var(--color-yellow);
  border-radius: 16px;
  padding: 8px;
  position: absolute;
  margin-top: -45px;
  /* height: 30px; */
  text-align: center;
  align-items: center;
  font-weight: 600;
}

.projects-live:hover {
  border: 2px solid var(--color-yellow);
  cursor: pointer;
}

.projects-code {
  color: var(--color-text);
}

.projects-code:hover {
  color: var(--color-yellow);
}

.projects-content {
  color: var(--color-text);
}

.projects-content_header {
  color: var(--color-text);
}

.projects-desc {
  color: var(--color-text);
  overflow-y: scroll;
  background: var(--color-blog);
  padding: 1rem;
  border-radius: 5px;
}

.projects-desc::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
.projects-desc::-webkit-scrollbar-thumb {
  background: var(--color-yellow);
  border-radius: 10px;
}
.projects-desc::-webkit-scrollbar-track {
  background: var(--color-bg);
  border-radius: 16px;
}

.projects-author {
  color: var(--color-text);
  position: relative;
  display: grid;
  grid-template-columns: 75px 1fr;
  align-items: center;
}

.projects-tech {
  color: var(--color-text);
}
